// ----- Colors -----
$website-blue: #2C3A57;
$website-white: #FFFFFF;
$website-light-gray: #D9D9D9;
$website-gray: #808080;
$website-red: #FE0404;
$website-black: #000000;
$invisible: #00000000;
$placeholder-color: #bbbbbb;
$main-content-color: #F3F3F3;
$translucent: #00000085;
$link-color: #2163A2;

// ----- Filters -----
$website-white-to-black: brightness(0);

// ----- Z-indexes -----
$slide-in-modal: 100;
$website-header-z: 5;
$auto-complete-modal-z: 10;
$crud-modal: 100;

// ----- Padding -----
$mobile-padding: 35px 10px;
$mobile-container-padding: 20px 10px;
$laptop-container-padding: 20px;

// ----- Helper Functions -----
@mixin flex-direction($direction, $justify, $align, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin default-icon-size() {
    width: 28px;
    height: auto;
}

@mixin default-text-input() {
    appearance: none;
    outline: none;
    border: none;
    background-color: $invisible;
    width: 100%;
    height: 35px;
    padding: 15px 8px;

    &::placeholder {
        color: $placeholder-color;
    }
}

// CSS for a div with an image that is slightly blackened with text in the center
@mixin picture-with-text() {
    background-size: 100% 100%;
    background-repeat: no-repeat;

    div {
        width: 100%;
        height: 100%;
        background-color: $translucent;
        color: $website-white;
        font-weight: 800;
        text-align: center;
        @include flex-direction(unset, center, center, 0);
    }
}

// Template by ChatGPt
@mixin checkbox-switch-css() {
    @include flex-direction(row, unset, center, 10px);
    cursor: pointer;
    user-select: none;
    margin-bottom: 0;

    input {
        display: none;
    }

    .slider {
        width: 40px;
        height: 20px;
        background-color: $website-light-gray;
        border-radius: 20px;
        position: relative;
        transition: background-color 0.2s;

        &::before {
            content: '';
            position: absolute;
            left: 2px;
            top: 2px;
            width: 16px;
            height: 16px;
            background-color: $website-white;
            border-radius: 50%;
            transition: transform 0.2s;
        }
    }

    input:checked+.slider {
        background-color: $website-blue;

        &::before {
            transform: translateX(20px);
        }
    }

    p {
        margin: 0;
    }
}

@mixin default-button-css() {
    appearance: none;
    background-color: $website-red;
    border-radius: 5px;
    padding: 5px 0;
    color: $website-white;
    font-weight: bold;
    border: none;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

// Template by ChatGPT. UNDERSTAND IT
@mixin double-thumb-slider-css() {
    width: 100%;
    position: relative;
    margin-top: 10px;

    .slider {
        position: relative;
        height: 10px;
        outline: none;

        .thumb {
            position: absolute;
            width: 100%;
            height: 0;
            pointer-events: none;
            -webkit-appearance: none;
            appearance: none;
            top: 2px;
            z-index: 5;

            &::-webkit-slider-thumb {
                pointer-events: all;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $website-white;
                border: 2px solid $website-blue;
                cursor: pointer;
                -webkit-appearance: none;
            }
        }

        .slider-track {
            position: absolute;
            height: 5px;
            width: 100%;
            top: 0;
            background: $website-light-gray;
            border-radius: 3px;
        }

        .slider-range {
            position: absolute;
            height: 5px;
            top: 0;
            background: $website-blue;
            border-radius: 3px;
        }
    }
}

@mixin default-product-hr-scroll-css() {
    @include flex-direction(row, unset, unset, 10px);
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    margin-top: 5px;

    .product {

        .product-image-container {
            background-color: $website-light-gray;
            width: 125px;
            height: 125px;
            @include flex-direction(unset, center, center, 0);
            border-radius: 5px;

            img {
                width: 100%;
                max-height: inherit;
            }
        }

        .product-details {
            margin-top: 5px;

            .product-name-container {
                max-height: 50px;
                line-height: 0.95;

                .product-name {
                    font-size: 14px;
                    color: $website-black;
                    text-decoration: none;
                }
            }

            .discounted-price-container {
                @include flex-direction(row, unset, flex-end, 10px);
                margin-top: 2px;
            }

            .product-price {
                color: $website-red;
                font-weight: bold;
                margin-top: 2px;
            }

            .original-price {
                font-size: 12px;
                color: $website-gray;
                text-decoration: line-through;
            }
        }
    }
}

// The look for the checkbox only in the advanced filter modal (I'm just assuming I want different looking checkboxes for other modals or whatever)
@mixin advanced-filters-checkbox-css() {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: $website-light-gray;

    &:checked {
        background-color: $website-red;
    }
}

// CSS for the small buttons (like a close / remove button)
@mixin small-round-button($-width, $-height, $-imgw, $-imgh, $-bkgd-color, $-hover-color) {
    @include flex-direction(unset, center, center, 0);
    width: $-width;
    height: $-height;
    border-radius: 50%;
    background-color: $-bkgd-color;

    img {
        width: $-imgw;
        height: $-imgh;
    }

    &:hover {
        cursor: pointer;
        background-color: $-hover-color;
    }
}

// ----------------------------

// ----- Modal Transitions -----
@mixin slide-in-transition() {
    position: fixed;
    background-color: $translucent;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    z-index: $slide-in-modal;
}

@mixin pop-up-transition() {
    pointer-events: none;
    position: fixed;
    background-color: $translucent;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    transform: scale(0);
    transform-origin: center center;
    opacity: 0;

    &.active {
        pointer-events: auto;
        transform: scale(1);
        opacity: 1;
    }
}

// -----------------------------

@media screen AND (min-width: 0px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0; // Because margin-bottom is set to 1rem for some reason
    }

    .link {
        text-decoration: none;
        color: $website-white;

        &:hover {
            text-decoration: none;
            color: $website-white;
        }
    }

    html,
    body {
        background-color: $website-blue;
    }

    .slide-in-modal {
        top: 0;

        .slide-in-modal-content {
            background-color: $main-content-color;
            height: 100%;
            width: 75%;
        }
    }

    // ---------- Modals CSS ----------
    #menu-modal {
        @include slide-in-transition();
        transform: translateX(-100%);

        &.active {
            transform: translateX(0);
        }

        #menu-modal-content {
            overflow-y: scroll;
            scrollbar-width: none;

            header {
                background-color: $website-blue;
                color: $website-white;
                @include flex-direction(row, space-between, center, 0);
                padding: $mobile-container-padding;
                position: relative;
                z-index: 10;
            }

            main {
                padding: $mobile-container-padding;
                @include flex-direction(column, unset, unset, 5px);

                .section {
                    @include flex-direction(column, unset, unset, 3px);

                    .title {
                        border-bottom: thin solid $website-black;
                        padding: 6px 0;
                    }

                    .link {
                        color: $website-black;
                        padding: 5px 0;
                    }

                    div {
                        padding: 5px 0;
                    }
                }
            }
        }
    }

    // ---------- Main Content ----------
    .website-header {
        width: 100%;
        background-color: $website-blue;
        padding: $mobile-padding;
        padding-bottom: 15px;
        color: $website-white;
        box-shadow: 0 0 10px 5px $translucent;
        position: sticky;
        top: 0;
        z-index: 5;

        // Because bootstrap is messing up my stuff
        .theos-row {
            padding: 5px 0;
            margin: 0;
            flex-wrap: nowrap;
            max-width: inherit;
        }

        .top {
            @include flex-direction(row, space-between, center, 0);
            transition: all 0.3s ease;

            &.hide {
                transform: translateY(-100%);
                opacity: 0;
                pointer-events: none;
                height: 0;
            }

            .left {
                @include flex-direction(row, unset, center, 10px);

                .menu-icon {
                    @include default-icon-size();
                }

                .website-title {
                    @include flex-direction(row, unset, center, 8px);

                    p {
                        font-weight: bold;
                        font-size: 24px;
                    }

                    img {
                        width: 44px;
                        height: auto;
                    }
                }
            }

            .right {

                .shopping-cart {
                    position: relative;
                    @include flex-direction(row, top, flex-end, 0);
                    @include default-icon-size();

                    div {
                        @include small-round-button(16px, 16px, 0, 0, $website-red, none);
                        position: absolute;
                        bottom: 15px;
                        left: 12px;

                        p {
                            font-size: 12px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .middle {
            margin: auto;
            position: relative;
            width: inherit;

            .searchbar-container {
                width: 100%;
                background-color: $website-white;
                @include flex-direction(row, space-between, unset, 0);
                height: auto;
                border-radius: 12px;

                input {
                    @include default-text-input();
                }

                div {
                    background-color: $website-red;
                    @include flex-direction(unset, center, center, 0);
                    border-radius: 0 12px 12px 0;
                    width: 50px;
                }
            }

            #product-autocomplete-modal {
                position: absolute; // Fixed position won't take the parent's padding into account
                background-color: $website-white;
                width: inherit;
                color: $website-black;
                height: auto;
                margin-top: 5px;
                z-index: $auto-complete-modal-z;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 3px 10px 2px $translucent;

                div {
                    @include flex-direction(row, unset, center, 15px);
                    padding: 6px 10px;

                    &:hover {
                        cursor: pointer;
                        background-color: $website-light-gray;
                    }

                    img {
                        filter: $website-white-to-black;
                    }
                }
            }
        }
    }

    .home-products-container {
        background-color: $main-content-color;
        padding: $mobile-container-padding;
        padding-bottom: 0px;
        @include flex-direction(column, unset, unset, 30px);

        .product-section {

            h4 {
                font-weight: 800;
            }

            .horizontal-product-scroll {
                @include default-product-hr-scroll-css();
            }

            .see-more {
                color: $website-red;
                margin-top: 5px;
                text-decoration: underline;
            }
        }

        .hr-ad-banner {
            @include picture-with-text();
            width: 100%;
            height: 250px;
            font-size: 32px;
        }

        .categories-section {

            .categories-grid-container {
                margin-top: 5px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;

                .category {
                    @include picture-with-text();
                    border-radius: 10px;
                    aspect-ratio: 145 / 105;

                    div {
                        font-size: 20px;
                        border-radius: 10px;
                    }
                }
            }

            .see-more {
                text-decoration: underline;
                color: $website-red;
                margin-top: 5px;
            }
        }

        .no-more-to-see-section {
            margin: auto;
            text-align: center;

            img {
                border-radius: 50%;
                border: 2px solid $website-red;
                padding: 2px;
            }
        }
    }

    .products-page-container {
        background-color: $main-content-color;
        padding: $mobile-container-padding;
        @include flex-direction(column, unset, unset, 15px);

        .onmount-message {
            @include flex-direction(unset, center, center, 0);
            width: 100%;
            height: 50vh;

            p {
                text-align: center;
                font-weight: bold;
                font-size: 24px;
            }
        }

        #search-results-text {
            display: none;
        }

        #advanced-product-filters-modal {
            @include slide-in-transition();
            transform: translateY(100%);
            left: 0;

            .slide-in-modal-content {
                width: 100%;
                position: relative;
                overflow-y: scroll;
                scrollbar-width: none;

                header {
                    color: $website-white;
                    background-color: $website-blue;
                    @include flex-direction(row, space-between, center, 0);
                    padding: $mobile-container-padding;
                }

                main {
                    @include flex-direction(column, unset, unset, 15px);
                    padding: $mobile-container-padding;
                    padding-bottom: 80px;

                    .section {

                        .content {
                            margin-top: 5px;
                            @include flex-direction(column, unset, unset, 5px);

                            .checkbox-container {
                                width: 50%;
                                @include flex-direction(row, space-between, unset, 0);
                                height: min-content;

                                label {
                                    @include flex-direction(row, unset, center, 8px);

                                    .checkbox {
                                        @include advanced-filters-checkbox-css();
                                    }
                                }

                                p {
                                    font-size: 14px;
                                }
                            }

                            .toggle-switch {
                                @include checkbox-switch-css();
                            }

                            .slider-container {
                                @include double-thumb-slider-css();
                            }

                            .min-max-inputs-container {
                                @include flex-direction(row, space-between, center, 0);

                                label {
                                    width: 125px;

                                    input {
                                        width: inherit;
                                        appearance: none;
                                        outline: none;
                                        border: thin solid $website-black;
                                        border-radius: 5px;
                                        text-align: center;
                                        margin-top: 2px;
                                    }

                                    p {
                                        font-size: 14px;
                                    }
                                }

                                .dash {
                                    position: relative;
                                    top: 5px;
                                }
                            }
                        }
                    }
                }

                footer {
                    @include flex-direction(row, space-between, center, 0);
                    padding: 10px;
                    box-shadow: 0 0px 10px $translucent;
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                    background-color: $main-content-color;
                    z-index: 10;

                    #apply-filters-button {
                        background-color: $website-red;
                        color: $website-white;
                        font-weight: bold;
                        font-size: 14px;
                        padding: 5px 15px;
                        border-radius: 8px;
                    }
                }
            }

            &.active {
                transform: translateY(0);
            }
        }

        .admin-tools {
            width: 100%;
            @include flex-direction(row, flex-end, center, 5px);

            button {
                width: auto;
                height: 25px;
                border: thin solid $website-black;
                border-radius: 1px;
                @include flex-direction(unset, center, center, 0);
                padding: 0 10px;
                font-size: 14px;
                background-color: $website-white;

                &:hover {
                    cursor: pointer;
                    background-color: $website-light-gray;
                }

                &:active {
                    background-color: $website-gray;
                }
            }
        }

        .filter-tools {
            @include flex-direction(row, space-between, center, 0);

            .left {

                .filter-button {
                    @include flex-direction(row, unset, center, 5px);
                    background-color: $website-red;
                    padding: 5px 10px;
                    border-radius: 8px;
                    color: white;
                    font-weight: bold;

                    img {
                        width: 18px;
                        height: auto;
                    }
                }
            }

            .right {
                @include flex-direction(row, space-between, center, 8px);

                select {
                    outline: none;
                    padding: 5px;
                }

                img {
                    width: 32px;
                    height: auto;
                }
            }
        }

        #products-section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;

            .product {
                width: 100%;

                .product-image-container {
                    aspect-ratio: 145/150;
                    background-color: $website-light-gray;
                    @include flex-direction(row, unset, center, 0);
                    border-radius: 10px;

                    #product-image {
                        width: 100%;
                        max-height: 100%;
                    }
                }

                .product-details {
                    @include flex-direction(column, unset, unset, 5px);
                    width: 100%;

                    .product-name {
                        margin-top: 5px;
                        line-height: 0.95;
                        font-size: 14px;
                        color: $link-color;
                    }

                    .product-rating {
                        @include flex-direction(row, unset, center, 3px);

                        img {
                            width: 12px;
                            height: auto;
                        }

                        p {
                            font-size: 12px;
                            color: $website-gray;
                        }
                    }

                    .stock-notice {
                        font-size: 12px;
                        color: $website-red;
                    }

                    .product-bottom-section {
                        @include flex-direction(row, space-between, flex-start, 0);

                        p {
                            color: $website-red;
                            font-weight: bold;
                        }

                        .add-to-shopping-cart-button {
                            width: 50px;
                            padding: 5px 0;
                            border-radius: 5px;
                            background-color: $website-blue;
                            @include flex-direction(unset, center, center, 0);

                            img {
                                width: 18px;
                                height: auto;
                            }
                        }

                        .admin-tools {
                            @include flex-direction(row, flex-end, center, 5px);

                            .button {
                                @include flex-direction(unset, center, center, 0);
                                width: 25px;
                                height: 25px;
                                border: thin solid $website-black;

                                &:hover {
                                    cursor: pointer;
                                    background-color: $website-light-gray;
                                }

                                &:active {
                                    background-color: $website-gray;
                                }

                                img {
                                    width: 20px;
                                    height: auto;
                                }

                                .edit-icon {
                                    filter: invert(1);
                                }
                            }
                        }
                    }
                }
            }
        }

        .no-matching-products-message {
            @include flex-direction(unset, center, center, 0);
            width: 100%;
            height: fit-content;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;

            p {
                font-size: 24px;
                font-weight: bold;
            }
        }
    }

    .view-product-page-container {
        background-color: $main-content-color;
        padding: $mobile-container-padding;
        @include flex-direction(column, unset, unset, 15px);

        .inaccessible {
            filter: opacity(0.5);
            cursor: not-allowed;

            input {
                pointer-events: none;
            }

            button {
                pointer-events: none;
            }
        }

        .text-and-number-inputs {
            @include default-text-input();
            padding: 0;
            height: min-content;

            &:hover {
                background-color: $website-light-gray;
            }
        }

        .admin-tools {
            width: 100%;
            @include flex-direction(row, flex-end, center, 5px);

            .admin-button {
                @include flex-direction(unset, center, center, 0);
                width: auto;
                height: 25px;
                border: thin solid $website-black;
                border-radius: 1px;
                margin-bottom: -10px;
                padding: 0 10px;
                text-decoration: none;
                color: $website-black;
                font-size: 14px;

                &:hover {
                    cursor: pointer;
                    background-color: $website-light-gray;
                }

                &:active {
                    background-color: $website-gray;
                }
            }
        }

        .image-carousel-container {
            @include flex-direction(column, unset, center, 5px);

            .image-carousel {
                width: 100%;
                height: 200px;
                background-color: $website-light-gray;

                .image-container {
                    margin: auto;
                    @include flex-direction(row, unset, unset, 0);
                    max-width: 250px;
                    height: inherit;
                    overflow-x: scroll;
                    scrollbar-width: none;
                    scroll-snap-type: x mandatory;
                    scroll-snap-stop: always;
                    background-color: $translucent;
                    border-left: thin solid $website-black;
                    border-right: thin solid $website-black;

                    img {
                        flex: 0 0 100%;
                        width: 100%;
                        height: 100%;
                        scroll-snap-align: start;
                        background-size: 100% 100%;
                    }
                }
            }

            .image-index {
                @include flex-direction(row, unset, center, 5px);

                .index {
                    height: 6px;
                    width: 6px;
                    border: thin solid $website-black;
                    border-radius: 50%;
                }
            }
        }

        .edit-product-images-container {
            @include flex-direction(row, unset, unset, 20px);
            overflow-x: scroll;
            scrollbar-width: none;
            width: 100%;
            height: 250px;

            .image-container {
                position: relative;
                height: inherit;
                width: auto;
                background-color: $website-light-gray;

                img {
                    width: auto;
                    height: inherit;
                }

                .remove-button {
                    @include flex-direction(unset, center, center, 0);
                    position: absolute;
                    @include small-round-button(20px, 20px, 15px, 15px, $website-red, $website-light-gray);
                    left: 97%;
                }
            }
        }

        .add-image-button {
            width: 100px;
            border: thin solid $website-black;
            font-size: 14px;
        }

        .product-details {
            @include flex-direction(column, unset, unset, 15px);

            .name-input {
                font-size: 24px;
                font-weight: bold;
            }

            .price-and-stock {
                @include flex-direction(row, unset, center, 5px);

                h5 {
                    font-size: 24px;
                    font-weight: bold;
                    color: $website-red;
                    margin-top: 1px;
                }

                .price-input {
                    font-size: 24px;
                    font-weight: bold;
                    color: $website-red;
                }

                p {
                    font-size: 14px;
                }
            }

            .product-quantity-container {

                input {
                    appearance: none;
                    width: 100%;
                    outline: none;
                    border: thin solid $website-black;
                    padding: 2px 15px;
                }
            }

            .buttons {
                @include flex-direction(column, unset, unset, 5px);

                .button {
                    appearance: none;
                    width: 100%;
                    border: thin solid $website-red;
                    border-radius: 15px;
                    color: $website-red;
                    padding: 6px 0;
                }

                #buy-now {
                    background-color: $website-red;
                    color: $website-white;
                    font-weight: bold;
                }

                #add-to-favourites {
                    @include flex-direction(row, center, center, 5px);
                }

                .favourited {
                    background-color: $website-red;
                    color: $website-white;
                    font-weight: bold;
                }
            }

            .about-this-product {

                h3 {
                    font-size: 24px;
                    font-weight: bold;
                }

                .about-content {
                    margin-top: 5px;
                    @include flex-direction(column, unset, unset, 5px);
                    width: 100%;

                    .theos-row {
                        width: 50%;
                        margin: 0;
                        @include flex-direction(row, space-between, flex-start, 0);

                        .title {
                            font-weight: bold;
                        }

                        .detail {
                            text-align: right;
                        }

                        .sold-detail {
                            color: $website-red;
                        }

                        .radio-buttons {
                            @include flex-direction(row, unset, center, 10px);

                            label {
                                @include flex-direction(row, unset, center, 5px);
                            }
                        }

                        .quantity-input {
                            width: 75px;
                            text-align: right;
                        }
                    }
                }
            }

            .description {

                h3 {
                    font-size: 24px;
                    font-weight: bold;
                    margin-top: 5px;
                }

                .auto-growing-textarea {
                    min-height: 2rem;
                    padding: 0.5rem;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    outline: none;
                    padding: 0;

                    &:hover {
                        background-color: $website-light-gray;
                    }
                }

            }

            .other-details {
                @include flex-direction(column, unset, unset, 5px);

                h3 {
                    font-size: 24px;
                    font-weight: bold;
                }

                .section {
                    @include flex-direction(column, unset, unset, 2px);

                    .categories {
                        @include flex-direction(row, unset, center, 10px);
                        flex-wrap: wrap;

                        label {
                            @include flex-direction(row, unset, center, 5px);
                        }
                    }

                    .discount-input {
                        border-radius: 5px;
                        padding: 0 10px;
                        border: thin solid $website-black;
                    }
                }
            }
        }

        .similar-products {

            h3 {
                font-weight: bold;
                font-size: 24px;
                margin-bottom: 5px;
            }

            .products {
                @include default-product-hr-scroll-css();
            }
        }
    }

    // ---------------------------------------

    #mobile-footer-content {
        padding: $mobile-container-padding;
        padding-bottom: 5px;

        .link-grid-section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;

            .link {
                text-decoration: none;
                color: $website-white;
                text-align: center;
            }
        }

        .copyright-notice {
            color: $website-white;
            font-size: 12px;
            margin-top: 20px;
            text-align: center;
        }
    }

    #laptop-footer-content {
        display: none;
    }

    // ---------- Authentication pages ----------
    .authentication-page-container {
        @include flex-direction(column, center, center, 10px);
        padding: $mobile-padding;
        height: 100vh;
        width: 100vw;

        .title {
            @include flex-direction(row, unset, center, 8px);
            text-decoration: none;

            img {
                width: 52px;
            }

            h1 {
                color: $website-white;
                font-weight: bold;
                font-size: 28px;
            }
        }

        .authentication-content {
            background-color: $main-content-color;
            padding: $mobile-container-padding;
            width: 100%;
            @include flex-direction(column, unset, unset, 15px);
            border-radius: 6px;
            box-shadow: 0 4px 10px $translucent;

            .top-section {
                @include flex-direction(row, space-between, center, 0);

                h3 {
                    font-weight: bold;
                    font-size: 24px;
                }

                .link {
                    text-decoration: none;
                    color: $link-color;
                    font-size: 14px;
                }
            }

            .inputs-container {
                @include flex-direction(column, unset, unset, 8px);

                .input-row-section {
                    @include flex-direction(row, space-between, unset, 5px);
                }

                .input-section {

                    p {
                        font-size: 14px;
                        font-weight: bold;
                    }

                    div {
                        input {
                            width: 100%;
                            @include default-text-input();
                            border: thin solid $website-gray;
                            height: 30px;
                            border-radius: 5px;
                            background-color: $website-white;
                            font-size: 13px;
                        }

                        .error-message {
                            font-size: 10px;
                            margin-top: 1px;
                            color: $website-red;
                            font-weight: normal;
                        }
                    }

                    .forgot-password {
                        @include flex-direction(row, space-between, unset, 0);

                        .prompt {
                            font-size: 13px;
                            text-decoration: none;
                            color: $link-color;
                        }
                    }
                }

                .submit-button {
                    margin-top: 5px;
                    @include default-button-css();
                }

                .link-button {
                    text-align: center;
                    text-decoration: none;
                }
            }

            .bottom-section {
                margin-top: 15px;
                @include flex-direction(column, unset, center, 10px);
                width: inherit;
                ;

                .message {
                    @include flex-direction(row, center, center, 10px);
                    width: inherit;
                    overflow: hidden;

                    p {
                        font-size: 14px;
                        color: $website-gray;
                        white-space: nowrap;
                    }

                    hr {
                        width: 500px;
                        margin: 0;
                        display: flex;
                        background-color: $website-gray;
                        height: 1px;
                        border: none;
                    }
                }

                .create-account-button {
                    @include default-button-css();
                    background-color: $website-blue;
                    text-decoration: none;
                    width: 100%;
                    text-align: center;
                }
            }

            .register-bottom-section {
                margin: 0;
            }

            .forgot-password-message {
                font-size: 12px;
            }
        }
    }

    // -------------------------------

    // --------- Shopping Cart ----------
    .empty-shopping-cart {
        background-color: $main-content-color;
        padding: $mobile-container-padding;
        @include flex-direction(column, unset, unset, 75px);

        h4 {
            text-align: center;
        }

        .look-for-items {
            @include default-button-css();
            text-decoration: none;
            text-align: center;
        }
    }

    .filled-shopping-cart {
        background-color: $main-content-color;
        padding: $mobile-container-padding;

        .top-section {
            padding-bottom: 10px;
            border-bottom: thin solid $website-black;

            h3 {
                font-weight: bold;
            }

            .buttons-section {
                @include flex-direction(row, space-between, center, 8px);
                margin-top: 10px;

                .proceed-to-checkout {
                    background-color: $website-red;
                    border: thin solid $invisible;
                    color: $website-white;
                    padding: 3px 10px;
                    border-radius: 2px;
                    font-weight: bold;
                    font-size: 14px;
                }

                .save-changes {
                    flex-grow: 1;
                    background-color: $website-white;
                    border: thin solid $website-gray;
                    color: $website-black;
                    padding: 3px 0px;
                    border-radius: 2px;
                    font-weight: normal;
                    font-size: 14px;
                }

                .disabled-save-changes {
                    @extend .save-changes;
                    pointer-events: none;
                    color: $translucent;
                    border: thin solid $website-light-gray;

                    &:hover {
                        cursor: not-allowed;
                    }
                }
            }
        }

        .cart-products-section {
            margin-top: 10px;
            max-height: 40vh;
            overflow-y: scroll;
            @include flex-direction(column, unset, unset, 15px);

            .cart-product {
                background-color: $website-white;
                padding: $mobile-container-padding;
                @include flex-direction(column, space-between, unset, 0);

                .product-details {
                    @include flex-direction(row, unset, unset, 15px);
                    height: auto;

                    .left {

                        .image-container {
                            width: 100px;
                            height: 125px;
                            background-color: $website-light-gray;
                            @include flex-direction(unset, center, center, 0);

                            img {
                                width: inherit;
                                height: auto;
                            }
                        }
                    }

                    .right {
                        @include flex-direction(column, unset, unset, 8px);

                        .product-name {
                            font-weight: bold;
                        }

                        .product-price {
                            font-weight: normal;
                        }

                        .product-stock {
                            font-size: 12px;
                            color: $website-red;
                        }
                    }
                }

                .product-buttons {
                    @include flex-direction(row, space-between, center, 0);
                    margin-top: 15px;

                    .edit-quantity-section {
                        display: grid;
                        grid-template-columns: 0.75fr 1.5fr 0.75fr;
                        max-width: 100px;
                        height: 25px;
                        border: thin solid $website-light-gray;

                        button {
                            border: none;
                            width: 25px;
                            font-weight: bolder;
                            font-size: 14px;
                            height: 100%;
                            text-align: center;
                        }

                        .subtract {
                            border-right: thin solid $website-light-gray;
                        }

                        .add {
                            border-left: thin solid $website-light-gray;
                        }

                        .quantity {
                            font-size: 14px;
                            width: min-content;
                            text-align: center;
                            width: 48px;
                            border: none;
                            outline: none;
                        }
                    }

                    .remove-button {
                        @include default-button-css();
                        @include flex-direction(unset, center, center, 0);
                        border-radius: 2px;
                        background-color: $website-white;
                        border: thin solid $website-light-gray;
                        width: 20px;
                        height: 20px;
                        padding: 14px;

                        img {
                            width: 20px;
                        }
                    }
                }
            }
        }
    }

    // --------------------------------------

    // ---------- Purchase History ----------
    .purchase-history-page {
        padding: $mobile-container-padding;
        background-color: $main-content-color;

        .purchases {
            @include flex-direction(column, unset, unset, 20px);

            .purchase {
                border: thin solid $website-black;

                .header {
                    background-color: $website-light-gray;
                    padding: 10px;
                    border-bottom: thin solid $website-black;

                    .order-id {
                        font-weight: bold;
                    }

                    .order-details {
                        margin-top: 10px;
                        @include flex-direction(row, unset, center, 30px);

                        .detail {
                            font-weight: 500;
                        }
                    }
                }

                .purchased-items {
                    padding: $mobile-container-padding;
                    background-color: $website-white;
                    @include flex-direction(column, unset, unset, 15px);

                    .purchased-item {
                        @include flex-direction(row, unset, unset, 10px);

                        .product-images {
                            width: 125px;
                            height: 125px;
                            background-color: $website-light-gray;
                            @include flex-direction(unset, center, center, 0);
                            border: thin solid $website-light-gray;

                            img {
                                width: inherit;
                                max-height: 125px;
                            }
                        }

                        .product-details {
                            @include flex-direction(column, space-between, unset, 5px);

                            div {
                                @include flex-direction(column, unset, unset, 2px);

                                .price-and-quantity {
                                    font-size: 20px;
                                    color: $website-red;
                                }
                            }

                            .view-product {
                                border: thin solid black;
                                border-radius: 2px;
                                font-size: 14px;
                                width: 115px;
                                padding: 3px 0;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .favourites-page {
        padding: $mobile-container-padding;
        background-color: $main-content-color;

        h3 {
            font-weight: bolder;
        }

        .filter-tools {
            margin-top: 15px;

            .filter-button {
                @include flex-direction(row, unset, center, 5px);
                background-color: $website-white;
                border-radius: 2px;
                padding-left: 9px;
                padding-right: 13px;
                border: thin solid $website-black;
                width: min-content;

                img {
                    width: 20px;
                }
            }
        }

        .favourited-products {
            @include flex-direction(column, unset, unset, 15px);
            margin-top: 10px;

            .product {
                padding: 12px;
                background-color: $website-white;

                .images-container {
                    width: 100%;
                    background-color: $website-light-gray;
                    height: 175px;

                    .images-scroll-container {
                        @include flex-direction(row, unset, unset, 0);
                        overflow-x: scroll;
                        width: 175px;
                        height: inherit;
                        margin: auto;
                        background-color: $website-black;
                        scrollbar-width: none;
                        scroll-snap-type: x mandatory;
                        scroll-snap-stop: always;

                        .image {
                            width: inherit;
                            height: auto;
                            scroll-snap-align: start;
                        }
                    }
                }

                .product-details {
                    @include flex-direction(row, space-between, unset, 0);
                    margin-top: 8px;

                    .left {

                        .name {
                            font-weight: bold;
                            font-size: 20px;
                        }

                        .price {
                            color: $website-red;
                            font-weight: light;
                            font-size: 24px;
                            margin-top: -3px;
                        }
                    }

                    .right {
                        text-align: right;

                        .save-date {
                            font-size: 14px;
                        }
                    }
                }

                .buttons {
                    @include flex-direction(column, unset, unset, 6px);
                    margin-top: 10px;

                    button {
                        border: thin solid $website-black;
                    }

                    .remove-from-favourites {
                        background-color: $website-red;
                        color: $website-white;
                        border: none;
                        padding: 2px 0;
                    }
                }
            }

            .empty-message {
                padding-top: 30px;
                font-weight: normal;
                text-align: center;
            }

            button {
                background-color: $website-white;
                border: thin solid $website-black;
            }
        }
    }

    .edit-product-page {
        padding: $mobile-container-padding;
        background-color: $main-content-color;
    }

    // ---------- CRUD modals ----------
    .crud-modal {
        @include pop-up-transition();
        @include flex-direction(unset, center, center, 0);
        z-index: $crud-modal;
        position: fixed;
        top: 0;

        .crud-modal-content {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            background-color: $website-white;
            scrollbar-width: none;

            .header {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                text-wrap: nowrap;
                align-items: center;
                border-bottom: thin solid $website-light-gray;
                position: sticky;
                top: 0;
                background-color: $website-white;
                padding: 5px 15px;
                z-index: 100;

                .close {
                    padding: 5px;
                    @include small-round-button(30px, 30px, 20px, 20px, none, $website-light-gray);

                    img {
                        filter: invert(1);
                    }
                }

                h4 {
                    font-size: 18px;
                    text-align: center;
                }

                .submit {
                    @include flex-direction(unset, flex-end, center, 0);

                    button {
                        border: thin solid $website-black;
                        border-radius: 2px;
                        font-size: 14px;
                        padding: 1px 10px;
                    }
                }
            }

            form {
                @include flex-direction(column, unset, unset, 10px);
                margin-top: 10px;
                padding: 15px;

                .profile-picture {
                    border: thin solid $website-black;
                    width: 50%;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    margin: auto;
                }

                .add-profile-picture {
                    @include flex-direction(unset, center, center, 0);
                    width: 50%;
                    aspect-ratio: 1 / 1;
                    border: 2px solid $website-black;
                    border-radius: 50%;
                    background-color: $website-light-gray;
                    margin: auto;

                    img {
                        width: 100px;
                        height: auto;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                .input-container {
                    @include flex-direction(column, unset, unset, 0px);

                    b {
                        font-size: 14px;
                    }

                    .images-container {
                        @include flex-direction(row, unset, unset, 15px);
                        width: auto;
                        overflow-x: scroll;
                        scrollbar-width: none;
                        margin-top: 5px;
                        margin-bottom: 5px;

                        div {
                            width: 150px;
                            height: 150px;
                            flex-shrink: 0;
                        }

                        .image {
                            position: relative;
                            background-color: $website-light-gray;
                            @include flex-direction(unset, center, center, 0);

                            img {
                                max-width: 150px;
                                max-height: 150px;
                            }

                            .remove-button {
                                @include small-round-button(20px, 20px, 16px, 16px, $website-white, $website-red);
                                position: absolute;
                                padding: 3px;
                                left: 93%;
                                top: 0;

                                img {
                                    filter: invert(1);
                                }

                                &:hover {

                                    img {
                                        filter: invert(0);
                                    }
                                }
                            }
                        }

                        .add-image-button {
                            @include flex-direction(unset, center, center, 0);
                            border: 2px solid $website-gray;
                            border-radius: 5px;

                            &:hover {
                                cursor: pointer;
                                border-color: $website-black;

                                img {
                                    filter: invert(1);
                                }
                            }

                            img {
                                width: 50px;
                                height: 50px;
                                filter: invert(.5);
                            }
                        }
                    }

                    .image-notice {
                        @include flex-direction(row, space-between, center, 0);
                    }
                }

                .text-input {
                    @include default-text-input();
                    border: thin solid $website-black;
                    border-radius: 5px;
                    font-size: 14px;
                }

                .number-input {
                    @include default-text-input();
                    border: thin solid $website-black;
                    border-radius: 5px;
                    font-size: 14px;
                }

                textarea {
                    @include default-text-input();
                    border: thin solid $website-black;
                    padding-top: 5px;
                    border-radius: 5px;
                    height: auto;
                    font-size: 14px;
                }

                .categories-container {
                    @include flex-direction(row, unset, center, 10px);
                    flex-wrap: wrap;
                    font-size: 14px;

                    label {
                        @include flex-direction(row, unset, center, 5px);

                        &:hover {
                            cursor: pointer;
                        }

                        input {
                            border-radius: 50%;
                            border: thin solid $website-black;
                        }
                    }
                }

                .radio-container {
                    @include flex-direction(row, unset, center, 10px);
                    font-size: 14px;

                    div {
                        @include flex-direction(row, unset, center, 5px);
                    }
                }
            }
        }
    }

    // ---------------------------------------

    // ---------- User Manager Page ----------
    .user-manager-page {
        padding: $mobile-container-padding;
        background-color: $main-content-color;

        h3 {
            font-weight: bold;
        }

        .user-manager-tools {
            margin-top: 15px;

            .button {
                @include flex-direction(row, center, center, 5px);
                border: thin solid $website-black;
                box-shadow: 0 0 2px $website-black;
                width: 125px;
                background-color: $website-white;

                img {
                    filter: invert(1);
                }
            }
        }

        .users {
            margin-top: 15px;
            @include flex-direction(column, unset, center, 20px);

            .user {
                background-color: $website-white;
                padding: 10px;
                @include flex-direction(column, unset, unset, 15px);
                box-shadow: 0 0 5px $website-black;

                img {
                    width: 100%;
                }

                .placeholder-image {
                    width: 80%;
                    margin: auto;
                }

                .user-details {
                    margin: auto;
                    text-align: center;

                    h4 {
                        font-weight: bold;
                    }
                }

                .action-buttons {
                    @include flex-direction(row, unset, center, 5px);

                    .button {
                        width: 50%;
                        @include flex-direction(row, center, center, 8px);
                        border: thin solid $website-black;
                        box-shadow: 0 0 2px $website-black;

                        img {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
    }

    // ----------------------------------------
}

@media screen AND (min-width: 375px) {
    .authentication-page-container {

        .authentication-content {
            max-width: 375px;
            padding: $laptop-container-padding;
        }
    }
}