// Utilities
@import 'utils/mixins';
@import 'utils/variables';

// Layouts
@import 'layouts/footer';
@import 'layouts/header';

// Modals
@import 'modals/menu';
@import 'modals/product-filters';

// Admin pages
@import 'pages/admin/user';
@import 'pages/admin/edit-product';
@import 'pages/admin/add-product';
@import 'pages/admin/add-user';
@import 'pages/admin/side-menu';

// Authentication pages
@import 'pages/authentication/admin-login';
@import 'pages/authentication/forgot-password';
@import 'pages/authentication/login';
@import 'pages/authentication/register';

// User pages
@import 'pages/user/home-products';
@import 'pages/user/products';
@import 'pages/user/shopping-cart';
@import 'pages/user/view-product';
@import 'pages/user/purchase-history';
@import 'pages/user/favourites';

@media screen AND (min-width: 0px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0; // Because margin-bottom is set to 1rem for some reason
    }

    html,
    body {
        background-color: $website-blue;
    }
}