@media screen AND (min-width: 0) {
    .admin-header {
        @include flex-direction(row, space-between, center, 0);
        padding: 10px;

        .left {
            @include flex-direction(row, unset, center, 15px);
            width: inherit;

            .menu-icon {
                width: 30px;
            }

            .website-title {
                @include flex-direction(row, unset, center, 8px);
                @include link-css($website-white);

                p {
                    font-weight: bold;
                    font-size: 24px;
                }

                img {
                    width: 44px;
                    height: auto;
                }
            }
        }
    }
}